.frame {
  max-width: 578px;
  min-height: 794px;
  background-color: #fff;
  margin: 3rem auto;
  position: relative;
  box-shadow: 0px 8px 15px #1414141f, 0px 0px 4px #1414141a;
}
.card {
  width: 370px;
  height: 326px;
  padding: 10px 0;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  margin: 0 auto;
  position: absolute;
  top: 85px;
  left: 104px;
  box-shadow: 0px 8px 15px #1414141f, 0px 0px 4px #1414141a;
  display: flex;
  flex-direction: column;
}

/* Checkbox styling */
.checkbox-container {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 22px 8px 22px;
}

.checkbox-container input {
  display: none;
}

.custom-checkbox {
  width: 23px;
  height: 23px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-checkbox:hover {
  background-image: url("./assets/images/vector_141.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-container.checked .custom-checkbox {
  background-color: #2469f6;
  transition: background 0.3s linear;
}
